body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #161105;
}

*{
    margin: none;
    padding: none;
    box-sizing: inherit;
}

h1{
  font-size: 1.9em;
}

h2, h3, h4, p{
  font-size: 1.4em;
}

/*
/*Side bar
*/

.main-side-bar{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 35%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #ddd736;
    background: linear-gradient(-5deg, #ddd836c4, #ddd736);
    padding: 5%;
}

.sidebar-links{
    color: #161105;
}

.sidebar-links:hover{
    color: #ddd736;
}

.main-side-bar-spacer{
  height: 100px;
}

/*
/*Collapsable contact
*/

.side-bar-links-container{
    margin: 5% 0 5% 0;
    display: flex;
    justify-content: space-between;
}

.contact-button-container{
    z-index: 1;
}

.collapsible-button {
    background-color: #ff5f40;
    color: #161105;
    cursor: pointer;
    padding: 18px;
    display: block;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.4em;
    margin-top: 4%;
}

.collapsible-button:hover {
    background-color: #ddd736;
}

.active, .active:hover {
  background-color: #ff5f40;
}

.form-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  background-color: #435d70;
}

#text-area{
  height: 120px;
}

.contact-form-input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}

.contact-form-submit{
  background-color: #ff5f40;
}

/*
/*Main page content
*/

.content-wrapper{
  position: static;
  width: 65%;
  max-width: 1200px;
  margin-left: 35%;
}

.nav{
  position: fixed;
  width: 65%; 
  top:0;
  right:0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background: #596E68;
  /* background: #435d70;
  background: linear-gradient(-1deg, #435d70, #435d70d7); */
}

.nav a{
  text-decoration: none;
  font-size: 1.5em;
  color: #161105;
}


/*	
/* Skills 
*/

.skills-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd736;
    background: linear-gradient(-5deg, #ddd736, #ddd836c4);
}

.skills-header{
  width: 100%;
  align-self: flex-end;
}

#left {
  width: 50%;
  align-self: center;
}

#right {
  width: 50%;
  align-self: center;
}

.skills-container h2 {
  font-size: 3em;
  letter-spacing: .4em;
  /* text-decoration: underline; */
  color: #161105;
  text-align: center;
}

.skills-container h3 {
  font-size: 1.2em;
  color: #161105;
  text-align: center;
}

.skills-bar-container {
  position: relative;
  width: 40%;
  min-width: 350px;
  margin: 5% auto;
  list-style: none;
}

.skills-bar-container li {
  font-family: 'Raleway', sans-serif;
  background: transparent;
  position: relative;
  width: 100%;
  height: 10px;
  margin-bottom: 35px;
  margin-top: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.skills-bar-container label {
  color: #161105;
  position: relative;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 300;
}

.progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#progress-htmlcss {
  -webkit-animation-name: progress-htmlcss;
  animation-name: progress-htmlcss;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-js-es6 {
  -webkit-animation-name: progress-js-es6;
  animation-name: progress-js-es6;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-react-jsx {
  -webkit-animation-name: progress-react-jsx;
  animation-name: progress-react-jsx;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#progress-bootstrap {
  -webkit-animation-name: progress-bootstrap;
  animation-name: progress-bootstrap;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

#progress-node {
  -webkit-animation-name: progress-node;
  animation-name: progress-node;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-express {
  -webkit-animation-name: progress-express;
  animation-name: progress-express;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-mongo {
  -webkit-animation-name: progress-mongo;
  animation-name: progress-mongo;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#progress-mongoose {
  -webkit-animation-name: progress-mongoose;
  animation-name: progress-mongoose;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.progressblue {
  background-color: #ff5f40;
}

@-webkit-keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@-webkit-keyframes progress-js-es6 {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes progress-react-jsx {
  0% {
      width: 0%;
  }
  100% {
      width: 30%;
  }
}

@-webkit-keyframes progress-bootstrap {
  0% {
      width: 0%;
  }
  100% {
      width: 40%;
  }
}

@-webkit-keyframes progress-node {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@-webkit-keyframes progress-express {
  0% {
      width: 0%;
  }
  100% {
      width: 40%;
  }
}

@-webkit-keyframes progress-mongo {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

@-webkit-keyframes progress-mongoose {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@-moz-keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@-moz-keyframes progress-js-es6 {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes progress-react-jsx {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@-moz-keyframes progress-bootstrap {
  0% {
      width: 0%;
  }
  100% {
      width: 40%;
  }
}

@-moz-keyframes progress-node {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@-moz-keyframes progress-express {
  0% {
      width: 0%;
  }
  100% {
      width: 40%;
  }
}

@-moz-keyframes progress-mongo {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

@-moz-keyframes progress-mongoose {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes progress-js-es6 {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes progress-react-jsx {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@keyframes progress-bootstrap {
  0% {
      width: 0%;
  }
  100% {
      width: 40%;
  }
}

@keyframes progress-node {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes progress-express {
  0% {
      width: 0%;
  }
  100% {
      width: 40%;
  }
}

@keyframes progress-mongo {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

@keyframes progress-mongoose {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}


/*--------------------------*/
.portfolio-proj-link{
  text-decoration: none;
  color: #1a252c;
}


.work-demo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-demo-img-thumb{
  width: 70%;
}

.work-demo-img{
  width: 100%;
  margin: 15% 0 8% 0;
  border-radius: 2%; 
  box-shadow: 0 7px 28px rgba(92, 86, 86, 0.3), 0 4px 20px rgba(92, 86, 86, 0.3);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.work-demo-img:hover{
  box-shadow: 0 6px 10px rgba(92, 86, 86, 0.2);
  -webkit-transform: scale(1);
	transform: scale(1);
}

.work-demo-items{
    width: 90%;
    margin: 0 0 2% 5%;
    align-self: flex-start;
}

.work-demo-items-row{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.yelpCamp{
    background-color: #3665dd;
    background: linear-gradient(-5deg, #3665dd, #3665ddcb);
}

.budget{
    background-color: #36ddae;
    background: linear-gradient(-5deg, #36ddae, #36ddaecb);
}

.simon{
    background-color: #7e36dd;
    background: linear-gradient(-5deg, #7e36dd, #7e36ddc7);
}

.color-game{
    background-color: #dd3695;
    background: linear-gradient(-5deg, #dd3695, #dd3695c5);
}

.about{
    background-color: #ddd736;
    background: linear-gradient(-5deg, #ddd736, #ddd836c4);
    display: flex;
    padding: 5% 5% 5% 5%;
    flex-direction: column;
}

.about-section-left{
    width: 60%;
    margin: 5%;
    text-align: justify;
}

.about-section-right{
    align-self:flex-end;
    text-align: justify;
    width: 60%;
    margin: 5%;
}

.about-section-right h3{
    text-align: right;
}

.icon-container{
    display: flex;
    justify-content: space-between;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #3665dd;
    background: linear-gradient(-5deg, #3665dd, #3665ddc9);
    color: #161105;
}

/*
/*Media Queries
*/

@media screen and (max-width: 1020px){
  .main-side-bar{
  position: static;
  display: flex;
  width: 100%;
  height: 500px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  }

  .main-side-bar-item{
    text-align: center; 
    padding: 0;
    width: 90%;
    align-self: center;
  }

  .main-side-bar-spacer{
    display: none;
  }

  .about-subtitle{
    display: none;
  }

  .content-wrapper{
      position: static;
      width: 100%;
      max-width: 1200px;
      margin-left: 0;
  }

  .nav{
    display: none;
    /* width: 100%;
    top: 0;
    background-color: #ddd736;
    background: linear-gradient(-5deg, #ddd736, #ddd736); */
  }

  .skills-container{
    height: 100%;
    padding: 5% 0;
  }

  .work-demo{
      width: 100%;
  }

  .work-demo-img-wrapper{
      width: 90%;
  }

  .work-demo-items{
      width: 90%;
      margin: 0 0 2% 0;
      align-self: center;
  }

  .about-section-left{
    width: 90%;
    margin: 5%;
    text-align: justify;
}

.about-section-right{
    align-self:flex-end;
    text-align: justify;
    width: 90%;
    margin: 5%;
}

  .space{
    display: none;
  }
}

@media screen and (max-width: 760px){
  #left, #right{
    width: 100%;
  }

  .collapsible-button{
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

/*
/* Mars Animations
/* Amimation created by Mathew Gitchell
/* Copyright (c) 2018 by Mathew Gitchell (https://codepen.io/mgitch/pen/pECcD)
*/

.space {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #435d70;
    background: linear-gradient(-5deg, #435d70, #435d70d7);
    overflow: hidden;
    z-index: -10;
  }
  .space .mars {
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 2;
  }
  .space .mars .tentacle {
    position: absolute;
    top: -60px;
    right: -80px;
    z-index: 1;
    height: 70px;
    width: 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 100%;
    border-left: 15px solid #1aae1e;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    -webkit-animation: tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .space .mars .flag {
    position: absolute;
    height: 17px;
    width: 15px;
    top: -57px;
    left: -1px;
    -webkit-animation: flag-pole 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: flag-pole 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .space .mars .flag:before {
    content: "";
    position: absolute;
    height: 17px;
    width: 2px;
    background: #eee;
  }
  .space .mars .flag:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 14px;
    left: 2px;
    top: 0;
    background: #aaa;
    -webkit-animation: flag-unfurl 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: flag-unfurl 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .space .mars .flag .small-tentacle {
    position: absolute;
    left: -16px;
    top: 3px;
    height: 50px;
    width: 50px;
    border-left: 10px solid #1aae1e;
    border-radius: 100%;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    -webkit-animation: small-tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: small-tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    z-index: 2;
  }
  .space .mars:before {
    content: "";
    position: absolute;
    top: 80px;
    left: -30px;
    height: 10px;
    width: 60px;
    background: rgba(0, 0, 0, 0.2);
    background: #374d5c;
    border-radius: 100%;
  }
  .space .mars .planet {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin-left: -60px;
    margin-top: -60px;
    z-index: 2;
  }
  .space .mars .planet .surface {
    position: absolute;
    border-radius: 100%;
    height: 140%;
    width: 140%;
    top: -30%;
    right: -10%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 30px solid rgba(0, 0, 0, 0.15);
    background: #ff5f40;
  }
  .space .mars .planet .crater1,
  .space .mars .planet .crater2,
  .space .mars .planet .crater3 {
    position: absolute;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .space .mars .planet .crater1 {
    height: 20px;
    width: 20px;
    top: 32%;
    left: 17%;
  }
  .space .mars .planet .crater2 {
    height: 10px;
    width: 10px;
    top: 26%;
    left: 55%;
    -webkit-box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .space .mars .planet .crater3 {
    height: 10px;
    width: 10px;
    top: 60%;
    left: 40%;
    -webkit-box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .space .ship {
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -55px;
    margin-right: -55px;
    height: 22px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 0% 100% 0;
            transform-origin: 0% 100% 0;
    z-index: 1;
    -webkit-animation: ship 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: ship 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .space .ship .ship-rotate {
    position: absolute;
    height: 22px;
    -webkit-transform: rotate(-110deg);
            transform: rotate(-110deg);
    -webkit-animation: ship-rotate 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: ship-rotate 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .space .ship .pod {
    position: absolute;
    top: 0;
    left: -8px;
    height: 16px;
    width: 16px;
    background: #eee;
    border-radius: 100% 0 100% 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .space .ship .fuselage {
    position: absolute;
    top: 14px;
    left: -6px;
    height: 8px;
    width: 12px;
    background: #eee;
    border-radius: 100% 100% 0 0;
  }
  .space .ship .fuselage:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid red;
  }
  .space .ship-shadow {
    position: absolute;
    right: 10%;
    top: 15%;
    margin-right: -28px;
    margin-top: 83px;
    height: 4px;
    width: 16px;
    background: #374d5c;
    border-radius: 100%;
    -webkit-animation: ship-shadow 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: ship-shadow 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  
  @-webkit-keyframes small-tentacle {
    0% {
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
    }
    86% {
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
    }
    89% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    100% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
  }
  
  @keyframes small-tentacle {
    0% {
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
    }
    86% {
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
    }
    89% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    100% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
  }
  @-webkit-keyframes tentacle {
    0% {
      -webkit-transform: rotate(-30deg);
              transform: rotate(-30deg);
    }
    75% {
      -webkit-transform: rotate(-30deg);
              transform: rotate(-30deg);
    }
    80% {
      -webkit-transform: rotate(-165deg) translate(6px, 8px);
              transform: rotate(-165deg) translate(6px, 8px);
    }
    82.5% {
      -webkit-transform: rotate(-165deg) translate(28px, -17px);
              transform: rotate(-165deg) translate(28px, -17px);
    }
    100% {
      -webkit-transform: rotate(-165deg) translate(35px, -22px);
              transform: rotate(-165deg) translate(35px, -22px);
    }
  }
  @keyframes tentacle {
    0% {
      -webkit-transform: rotate(-30deg);
              transform: rotate(-30deg);
    }
    75% {
      -webkit-transform: rotate(-30deg);
              transform: rotate(-30deg);
    }
    80% {
      -webkit-transform: rotate(-165deg) translate(6px, 8px);
              transform: rotate(-165deg) translate(6px, 8px);
    }
    82.5% {
      -webkit-transform: rotate(-165deg) translate(28px, -17px);
              transform: rotate(-165deg) translate(28px, -17px);
    }
    100% {
      -webkit-transform: rotate(-165deg) translate(35px, -22px);
              transform: rotate(-165deg) translate(35px, -22px);
    }
  }
  @-webkit-keyframes ship {
    0% {
      right: -10%;
      top: -20%;
      margin-top: -55px;
      margin-right: -55px;
    }
    40% {
      right: 50%;
      top: 15%;
    }
    79.5% {
      margin-top: -55px;
      margin-right: -55px;
    }
    84% {
      margin-top: -20px;
      margin-right: 0px;
    }
    100% {
      right: 50%;
      top: 15%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
  @keyframes ship {
    0% {
      right: -10%;
      top: -20%;
      margin-top: -55px;
      margin-right: -55px;
    }
    40% {
      right: 50%;
      top: 15%;
    }
    79.5% {
      margin-top: -55px;
      margin-right: -55px;
    }
    84% {
      margin-top: -20px;
      margin-right: 0px;
    }
    100% {
      right: 50%;
      top: 15%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
  @-webkit-keyframes ship-rotate {
    0% {
      -webkit-transform: rotate(-110deg);
              transform: rotate(-110deg);
    }
    20% {
      -webkit-transform: rotate(-110deg);
              transform: rotate(-110deg);
    }
    34% {
      -webkit-transform: rotate(47deg);
              transform: rotate(47deg);
    }
    79% {
      -webkit-transform: rotate(47deg);
              transform: rotate(47deg);
    }
    100% {
      -webkit-transform: rotate(47deg);
              transform: rotate(47deg);
    }
  }
  @keyframes ship-rotate {
    0% {
      -webkit-transform: rotate(-110deg);
              transform: rotate(-110deg);
    }
    20% {
      -webkit-transform: rotate(-110deg);
              transform: rotate(-110deg);
    }
    34% {
      -webkit-transform: rotate(47deg);
              transform: rotate(47deg);
    }
    79% {
      -webkit-transform: rotate(47deg);
              transform: rotate(47deg);
    }
    100% {
      -webkit-transform: rotate(47deg);
              transform: rotate(47deg);
    }
  }
  @-webkit-keyframes ship-shadow {
    0% {
      right: -10%;
      -webkit-transform: scale(1.4, 1);
              transform: scale(1.4, 1);
      opacity: .3;
    }
    40% {
      right: 50%;
      -webkit-transform: scale(0.75, 1);
              transform: scale(0.75, 1);
      opacity: 1;
    }
    100% {
      right: 50%;
    }
  }
  @keyframes ship-shadow {
    0% {
      right: -10%;
      -webkit-transform: scale(1.4, 1);
              transform: scale(1.4, 1);
      opacity: .3;
    }
    40% {
      right: 50%;
      -webkit-transform: scale(0.75, 1);
              transform: scale(0.75, 1);
      opacity: 1;
    }
    100% {
      right: 50%;
    }
  }
  @-webkit-keyframes planet-bump {
    0% {
      margin-left: 0;
    }
    39% {
      margin-left: 0;
    }
    40% {
      margin-left: -1px;
    }
    40.5% {
      margin-left: 1px;
    }
    41% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
  }
  @keyframes planet-bump {
    0% {
      margin-left: 0;
    }
    39% {
      margin-left: 0;
    }
    40% {
      margin-left: -1px;
    }
    40.5% {
      margin-left: 1px;
    }
    41% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
  }
  @-webkit-keyframes flag-pole {
    0% {
      top: -57px;
    }
    48% {
      top: -57px;
    }
    54% {
      top: -77px;
    }
    90% {
      top: -77px;
    }
    92% {
      top: -57px;
    }
    100% {
      top: -57px;
    }
  }
  @keyframes flag-pole {
    0% {
      top: -57px;
    }
    48% {
      top: -57px;
    }
    54% {
      top: -77px;
    }
    90% {
      top: -77px;
    }
    92% {
      top: -57px;
    }
    100% {
      top: -57px;
    }
  }
  @-webkit-keyframes flag-unfurl {
    0% {
      width: 0;
    }
    55% {
      width: 0;
    }
    60% {
      width: 14px;
    }
    90% {
      width: 14px;
    }
    100% {
      width: 14px;
    }
  }
  @keyframes flag-unfurl {
    0% {
      width: 0;
    }
    55% {
      width: 0;
    }
    60% {
      width: 14px;
    }
    90% {
      width: 14px;
    }
    100% {
      width: 14px;
    }
  }
  


